<div id="<%= dom_id(branch) %>">


  <div class="list-group">
  <a href="#collapse_<%= branch.id %>" class="list-group-item list-group-item-action" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse_<%= branch.id %>">
    <%= branch.name %>
  </a>
  <div class="collapse" id="collapse_<%= branch.id %>">
    <div class="card card-body">
      <strong>Description:</strong>
      <h6><%= branch.description %></h6>
     
      <br>
      

       <% if branch.persisted? %>
        <div class="d-grid gap-2">
          <%= link_to "Build & Modify branch", tree_branch_path(branch.tree, branch), class: "btn btn-outline-primary btn-lg" %>
          
        </div>
      <% end %>

      <% if branch.persisted? %>
        <div class="d-grid gap-2">
          <%= link_to "Edit branch name/description", edit_tree_branch_path(branch.tree, branch), class: "btn btn-outline-primary btn-lg" %> 
        </div>
      <% end %>   
      
      <% if branch.persisted? %>
        <%= button_to "Destroy branch", tree_branch_path(branch.tree, branch), method: :delete %>
      <% end %>

    </div>
  </div>
</div>

