<%= render @tree %>
<div style="padding: 10px;">


<%= link_to 'Add Assessment Item', new_tree_assessment_item_path(@tree), class: "btn btn-primary" %> 

<%= link_to 'Go To Marking Page',tree_marking_path(@tree), class: 'btn btn-secondary' %>
 
<button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#assignTreeModal">
  Assign Tree to Student
</button>

<%= link_to 'Clone Tree', '#', class: 'btn btn-success', data: { bs_toggle: "modal", bs_target: "#cloneTreeModal" } %>
<div class="modal fade" id="cloneTreeModal" tabindex="-1" aria-labelledby="cloneTreeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneTreeModalLabel">Clone Tree</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(url: create_cloned_tree_tree_path(@tree), method: :post) do |form| %>
          <div class="form-group">
            <%= form.label :name, "Enter a new name for the cloned tree:" %>
            <%= form.text_field :name, class: 'form-control', required: true, autofocus: true %>
          </div>
          <%= hidden_field_tag :tree_id, @tree.id %> <!-- Pass the original tree id -->
          <div class="mt-2">
            <%= form.submit "Clone Tree", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div class="modal fade" id="assignTreeModal" tabindex="-1" aria-labelledby="assignTreeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignTreeModalLabel">Assign Tree to Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'add_student' %>
      </div>
    </div>
  </div>
</div>

<br>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <strong>Add a branch</strong>
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add a branch</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= form_with(model: [@tree, @branch], local: true) do |form| %>
            <% if @branch.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>
                <ul>
                  <% @branch.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label"><%= form.label :name, style: "display: block" %>
              </label>
            <input type="text" class="form-control" id=<%= form.text_field :name %>  
            </div>    

            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label"><%= form.label :description, style: "display: block" %>
              </label>
            <input type="text" class="form-control" id=<%= form.text_area :description %>  
            </div>
            <div>
              <%= form.hidden_field :tree_id, value: @tree.id %>
            </div>
            <div>
              <%= form.submit %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
</div>


  <h5>Existing Branches</h5>

  <% @tree.branches.each do |branch| %>
    <%= render branch %>
  <% end %>
  </div>

 
</div>
<br>
  <div>
  <%= render 'tree_blossoms'%>
  </div>


<!-- adding up the blossoms -->
   
    <% @tree.branches.each do |branch| %>
      <tr>
        <td><% branch.name %></td>
        <td><% branch.blossoms.count %></td>
      </tr>
    <% end %>
    <tr>
      
      <td><strong><% @branches.inject(0) { |sum, branch| sum + branch.blossoms.count } %></strong></td>
    </tr>
    <tr>
      <td><strong>Total Points Possible:</strong></td>
      <td><strong><%= @branches.inject(0) { |sum, branch| sum + branch.blossoms.count } * 2 %></strong></td>
    </tr>
  </tbody>


<h4>Grade Cutoff Inputs</h4>
<form action="<%= update_cutoffs_tree_path(@tree) %>" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <table class="table">
    <thead>
      <tr>
        <th>Grade</th>
        <th>Cutoff</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td><input type="number" name="cutoff_a" class="form-control" placeholder="Enter A cutoff"></td>
      </tr>
      <tr>
        <td>B</td>
        <td><input type="number" name="cutoff_b" class="form-control" placeholder="Enter B cutoff"></td>
      </tr>
      <tr>
        <td>C</td>
        <td><input type="number" name="cutoff_c" class="form-control" placeholder="Enter C cutoff"></td>
      </tr>
      <tr>
        <td>D</td>
        <td><input type="number" name="cutoff_d" class="form-control" placeholder="Enter D cutoff"></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">Submit Cutoffs</button>
</form>


<!--  -->


<table class="table">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Cutoff</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td><%= @tree.cutoff_a %></td>
    </tr>
    <tr>
      <td>B</td>
      <td><%= @tree.cutoff_b %></td>
    </tr>
    <tr>
      <td>C</td>
      <td><%= @tree.cutoff_c %></td>
    </tr>
    <tr>
      <td>D</td>
      <td><%= @tree.cutoff_d %></td>
    </tr>
  </tbody>
</table>


<%= button_to "Delete tree", tree_path(@tree), method: :delete, data: { confirm: "Are you sure you want to delete this tree?" }, class: "btn btn-outline-danger" %>
<% if flash[:warning] %>
  <div class="alert alert-warning">
  <%= flash[:warning] %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>





