<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="tree-id" content="<%= @tree.id %>">
  <title>Student View</title>
  <style>
    .container {   
      align-items: center;
    }
    .branches-container {
      display: fixed;      
      align-items: center;
      width: 100%;
    }
    .tree-goals-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 20px;
    }
    
    .branch-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px;
    }
    .sphere {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid gold;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: gold;
      font-size: 16px;
      margin: 5px;
      position: relative;
    }
    .sphere.gold {
      border: 7px solid gold;
    }
    .sphere.glow {
      background-color: gold;
      box-shadow: 0 0 30px gold;
    }
    .sphere.pulse {
      animation: pulse 1s infinite;
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .tooltip {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      white-space: nowrap;
      z-index: 10;
      margin-bottom: 5px;
      font-size: 12px;
    }
    .sphere:hover .tooltip {
      display: block;
    }
  </style> 
</head>
<body>
<div class= 'container'>
<div class="col 2">   
  <div class="row align-items-start">     
      <%= form_tag({ controller: 'marking', action: 'student_view', tree_id: @tree.id }, method: :get) do %>        
        <% if current_teacher %>
          <div class="form-group">
            <%= select_tag 'student_id', 
              options_for_select([['Student name', '']] + @students.map { |s| [s.email, s.id] }, params[:student_id]), 
              class: 'form-select' %>
          </div>
        <% else %>
          <div class="form-group">
            <%= hidden_field_tag 'student_id', current_student.id %>
          </div>
        <% end %>     

        <div class="form-group">
          <%= select_tag 'assessment_item_id', 
          options_for_select([['Assessment item', '']] + @assessment_items.map { |ai| [ai.name, ai.id] }, params[:assessment_item_id]), 
          class: 'form-select' %>
        </div>

        <%= submit_tag 'Show', class: 'btn btn-primary' %>
      <% end %>
  </div> 
 </div>

<div class="tree-goals-container">  
  <div class="col"><%= render 'display_tree' %></div>
    <div class="col"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sessionGoalModal" data-goal-type="Lesson">
    Set New Lesson Goal
    </button>
      <!-- Modal Structure -->
    <div class="modal fade" id="sessionGoalModal" tabindex="-1" aria-labelledby="sessionGoalModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sessionGoalModalLabel">Set New Session Goal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>          
          <div class="modal-body">
            <%= form_with(model: @session_goal, url: tree_session_goals_path(@tree), local: true) do |f| %>
              <%= f.hidden_field :student_id, value: current_teacher ? params[:student_id] : current_student.id %>

              <%= f.hidden_field :goal_type, id: 'goal_type' %>              
              <div class="form-group mb-3">
                <%= f.label :date, 'Goal Date' %>
                <%= f.date_field :date, class: 'form-control' %>
              </div>              
              <div class="form-group mb-3">
                <%= f.label :goal, 'Goal' %>
                <%= f.text_area :goal, class: 'form-control' %>
              </div>              
              <div class="form-group mb-3">
                <%= f.label :evidence, 'Evidence' %>
                <%= f.text_area :evidence, class: 'form-control' %>
              </div>              
              <div class="form-group mb-3">
                <%= f.label :document, 'Upload Document' %>
                <%= f.file_field :document, class: 'form-control' %>
              </div>              
              <div class="form-group mb-3">
                <%= f.label :self_assess, 'Self Assessment' %>
                <%= f.select :self_assess, options_for_select((1..5).map { |i| [i, i] }), {}, class: 'form-control' %>
              </div>              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= f.submit 'Set Goal', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
      
    <div class="col-sm-6">
        <h4>Lesson Goals</h4>
        <%= render partial: "session_goal_show", locals: { goals: @session_goals.where(goal_type: 'Lesson') } %>
      </div>
    </div>  
    
    <div class="col-lg-5">      
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sessionGoalModal" data-goal-type="Homework">
        Set New Homework Goal
      </button>   

    <div class="col-sm-6">
      <h4>Homework Goals</h4>
      <%= render partial: "session_goal_show", locals: { goals: @session_goals.where(goal_type: 'Homework') } %>
    </div>    
  </div>
</div>
<div class="col-6">
  <%= render 'total_points_table' %>
</div>

<div class = "col-2">
  <%= render 'grade_cutoffs'%>
</div>

<div class="branches-container">
  <% @branches.each do |branch| %>
    <div class="branch-column">
        <h5><%= branch.name %></h5>
          <% branch.blossoms.count %>        
            <!-- Calculate points possible for this branch -->
        <h6>Branch Points Possible: <%= branch.blossoms.count * 2 %></h6>        
          <% branch_points = 0 %> </h6><!-- Initialize points for this branch -->
          <% branch.blossoms.each do |blossom| %>
            <% stage = @blossom_stages[blossom.id] %>
            <% if stage == 'Partially Demonstrated' %>
              <% branch_points += 1 %> <!-- Add 1 point for Partially Demonstrated -->
            <% elsif stage == 'Fully Demonstrated' %>
              <% branch_points += 2 %> <!-- Add 2 points for Fully Demonstrated -->
            <% end %>          
          <% end %>        
            <!-- Display the total points for the branch -->
        <h6>Branch Points Earned: <%= branch_points %></h6>
      </div>
  <% end %>      
</div>

  <script>
    document.addEventListener('turbo:load', () => {
      const sessionGoalModal = document.getElementById('sessionGoalModal');
      const goalTypeField = document.getElementById('goal_type');

      if (sessionGoalModal && goalTypeField) {
        sessionGoalModal.addEventListener('show.bs.modal', function(event) {
          const button = event.relatedTarget;  // Button that triggered the modal
          const goalType = button ? button.getAttribute('data-goal-type') : null;

          if (goalType) {
            console.log(`Setting goal_type to: ${goalType}`);
            goalTypeField.value = goalType;  // Set hidden field value
          } else {
            console.warn('No data-goal-type found on the triggering button.');
          }
        });
      } else {
        console.error('Modal or goal_type field not found in the DOM.');
      }
    }); 
  </script>
  
  </body>
</html>