<p style="color: green"><%= notice %></p>

<h1>Blossom: <%= @blossom.name %></h1>
<p><strong>Description:</strong> <%= @blossom.description %></p>
<p><strong>Branch:</strong> <%= @branch.name %></p>
<p><strong>Tree:</strong> <%= @tree.name %></p>

<h2>Associated Resources</h2>

<% if @blossom.resources.any? %>  <!-- Consistently use @blossom.resources -->
  <ul>
    <% @blossom.resources.each do |resource| %>
      <li>
        <p>Name: <%= resource.name %></p>
        <p>Description: <%= resource.description %></p>

        <% if resource.document.attached? %>
          <p>Document: <%= link_to 'Download', rails_blob_path(resource.document, disposition: "attachment") %></p>
        <% end %>

        
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No resources available for this blossom.</p>
<% end %>

