
<nav class="navbar navbar-dark navbar-expand bg-dark fixed-top" style="z-index: 1050">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          
          <!-- Show Students (visible if teacher signed in) -->
          <li class="nav-item">
            <% if teacher_signed_in? %>
              <%= link_to 'Show Students', show_students_teacher_path(current_teacher), class: 'nav-link' %>
            <% end %>
          </li>
          

          <!-- Trees Dropdown (visible if teacher signed in) -->
          <% if teacher_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Trees
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @trees.each do |tree| %>
                  <li><a class="dropdown-item" href="<%= tree_path(tree) %>"><%= tree.name %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <!-- Teacher Logout Button (visible if teacher signed in) -->
          <% if teacher_signed_in? %>
            <li class="nav-item">
              <%= button_to "Teacher Logout", destroy_teacher_session_path, method: :delete, class: 'btn btn-outline-danger nav-link', form_class: 'd-inline' %>
            </li>
          <% end %>

          <!-- Student Logout Button (visible if student signed in) -->
          <% if student_signed_in? %>
            <li class="nav-item">
              <%= button_to "Student Logout", destroy_student_session_path, method: :delete, class: 'btn btn-outline-danger nav-link', form_class: 'd-inline' %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</nav>
