<!DOCTYPE html>
<html>

  <head>
    <title>TreeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
 
  </head>

  <body>
  
    <%= render 'layouts/navbar' %>
    
    <div class="content" style="padding-top: 60px;">

    <%= yield %>

    <!-- Scripts at the end of the body -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  </body>

</html>
