<!DOCTYPE html>
<html>

  <head>
    <title>TreeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>         
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  </head>

  <body>
  
    <%= render 'layouts/navbar' %>
    
    <div class="content" style="padding-top: 30px;">

    <%= yield %>
 

  
  </body>

</html>
